.country{
    border: 2px solid purple;
    margin: 10px;
    padding: 10px;
border-radius: 10px;
}
.flag{
    /* display: flex;
    justify-items: center;
    align-items: center; */
padding:15px;
margin:10px;

}
